.ChallengerBoxContainer{
    height: 100%;

    background: var(--white);
    border-radius: 5px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
    padding: 1.5rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.ChallengerNotActive{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ChallengerNotActive strong{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.4;
}

.ChallengerNotActive p{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.4;
    max-height: 70%;
    margin-top: 3rem;
}

.ChallengerNotActive p img{
    margin-bottom: 1rem;
}

.ChallegerActive{
    height: 100%;

    display: flex;
    flex-direction: column;
}

.ChallegerActive header{
    color: var(--blue);
    font-weight: 600;
    font-size: 1.25rem;
    padding: 0 2rem 1.5rem;
    border-bottom: 1px solid var(--gray-line);
}

.ChallegerActive main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ChallegerActive main strong{
    font-size: 2rem;
    font-weight: 600;
    color: var(--title);
    margin: 1.5rem 0 1rem;
}

.ChallegerActive main p{
    line-height: 1.5;
}

.ChallegerActive footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.ChallegerActive footer button{
    height: 3rem;
    
    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;
    border-radius: 10px;

    color: var(--white);

    font-size: 1rem;
    font-weight: 600;

    transition: 0.2s;
}

.ChallegerActive footer button.ChallegerFailedButton{
    background: var(--red);
}

.ChallegerActive footer button.ChallegerSucceededButton{
    background: var(--green);
}

.ChallegerActive footer button:hover{
    filter: brightness(0.90);
}