.profileContainer {
    display: flex;
   align-content: center;
  }

.profileContainer > div{
    margin-top: 1.5rem;
}

.profileContainer > img{
    width: 5.05rem;
    height: 5.05rem;
    border-radius: 50%;
}

.profileContainer > div > strong {
    margin-left: 1.25rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--title);
  }

.profileContainer > div > p {
    margin-left: 1.25rem;
    font-size: 1rem;
    margin-top: 0.25rem;
}

.profileContainer > div > p > img {
    margin-right: 0.5rem;
}